@font-face {
    font-family: 'quicksand-regular';
    src: url('../lib/bootstrap/fonts/quicksand-regular.ttf') format('truetype');
}


body {
    font-family: quicksand-regular;
    background: rgb(136,163,237);
    background: linear-gradient(0deg, rgba(136,163,237,0.9961497134670487) 0%, rgba(197,173,197,1) 100%);
    padding-bottom: 3rem;
}

a{
    color: black;
    text-decoration:none;
}

.container-section {
    justify-content: center;
    height: 700px;
}

.banner {
    background-color: rgb(246, 246, 246);
    max-width: 900px;
    border-radius: 5px;
    box-shadow: 5px 10px 15px 2px rgba(0, 0, 0, 0.2);
    color: black;
}

.banner-leftSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0 0;
}

.h3-name {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.first-p {
    font-size: 1.1rem;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('../myphoto/try.png');
    background-size: cover;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.3);
}

.banner-rigthSide {
    flex: 2;
    padding: 1rem 1rem;
}

.h3-hola {
    font-size: 4rem;
}

h3, p {
    margin-bottom: 10px;
}

.icons-container, .btns-container {
    display: flex;
    flex-direction: row;
    gap: 13px;
    margin-top: 1rem;
}


.icono-banner {
    font-size: 1.5rem;
    color: black;
}

a.btn-banner {
    margin-top: .5rem;
    font-size: 1.1rem;
    font-family: quicksand-regular;
    padding: 3px 15px;
    background-color: rgb(246, 246, 246);
    border: 2px solid grey;
    transition: .2s;
    cursor: pointer;
    color: dimgray;
    border-radius: 20px;
    box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.2);
    text-decoration: none;
}

    .btn-banner:hover {
        border: 2px solid black;
        color: black;
    }

.text {
    line-height: 1.6rem;
    margin-top: 2rem;
}

.section-logo{
    width: 100%;
    height: 300px;
}

#carouselExample {
    border-radius: 5px;
    background-color: rgb(246, 246, 246);
    padding: 10px 10px;
    box-shadow: 5px 10px 15px 2px rgba(0, 0, 0, 0.2);
}

div.carrusel-custom{
    display: flex;
    justify-content:center;
}

div.carrusel-custom div.col-md-4.col-lg-4.inner_div{
    display:flex;
    align-items:center;
    justify-content: center;
}


.carousel-inner img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    background-color: transparent;
}

/* Media queries*/
@media (min-width: 676px) {
    .container-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner {
        display: flex;
        padding: 0 1rem 1rem;
        gap: 20px;
        height: 400px;
    }

    .banner-leftSide{
        text-align: center;
    }

    .h3-hola{
        margin-bottom: 1rem;
    }
}

@media (min-width: 948px) {

    .banner {
        padding: 0;
    }

    .text {
        width: 80%;
    }
}
