<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Index.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <section class="container-section">
            <div class="banner">
                <div class="banner-leftSide">
                    <div class="image"></div>
                    <h3 class="h3-name">José Luis Reyes</h3>
                    <p class="first-p">Desarrollador web full-stack</p>
                    <span class="icons-container">
                        <a href="https://www.linkedin.com/in/josreyes865/">
                            <i class="icono-banner bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/JosResy16">
                            <i class="icono-banner bi bi-github"></i>
                        </a>
                    </span>
                </div>
                <div class="banner-rigthSide">
                    <h3 class="h3-hola">Hola</h3>
                    <p class="second-p">Aquí hay un poco sobre mi</p>
                    <span class="btns-container">
                        <button class="btn-banner">curriculum</button>
                        <button class="btn-banner">portafolio</button>
                    </span>
                    <p class="text">Texto medianamente largo donde puedes mencionar algo importante y que aporte valor en tu pagina de inicio, yo concidero no colocar más de 100 palabras en el. Puede ser algo así como un brebe resumen de mi o mi trabajo.</p>
                </div>
            </div>
        </section>
        <section class="section-logos">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-evenly align-items-center">
                            <img src="/logos/VSLogo.png" class="img-fluid logo-carousel" alt="Visual Studio Logo">
                            <img src="/logos/Blazorlogo.png" class="img-fluid logo-carousel" alt="Blazor Logo">
                            <img src="/logos/CssLogo.png" class="img-fluid logo-carousel" alt="CSS Logo">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                            <img src="/Logos/Unity-logo.png" class="img-fluid logo-carousel" alt="Unity logo">
                            <img src="/logos/netCoreLogo.png" class="img-fluid logo-carousel" alt=".NET Core Logo">
                            <img src="/logos/ReactLogo.png" class="img-fluid logo-carousel" alt="React Logo">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-evenly align-items-center">
                            <img src="/logos/sqlLogo.png" class="img-fluid logo-carousel" alt="SQL Logo">
                            <img src="/logos/csharpLogo.png" class="img-fluid logo-carousel" alt="C# Logo">
                            <!-- Agrega más imágenes según sea necesario -->
                        </div>
                    </div>
                </div>
            </div>




        </section>

    </div>
</body>
</html>