<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Index.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <section class="container-section">
            <div class="banner">
                <div class="banner-leftSide">
                    <div class="image"></div>
                    <h3 class="h3-name">José Luis Reyes</h3>
                    <p class="first-p">Desarrollador web full-stack</p>
                    <span class="icons-container">
                        <a href="https://www.linkedin.com/in/josreyes865/">
                            <i class="icono-banner bi bi-linkedin"></i>
                        </a>
                        <a href="https://github.com/JosResy16">
                            <i class="icono-banner bi bi-github"></i>
                        </a>
                    </span>
                </div>
                <div class="banner-rigthSide">
                    <h3 class="h3-hola">Hola</h3>
                    <p class="second-p">¡Bienvenido! Aquí hay un poco sobre mi</p>
                    <span class="btns-container">
                        <a class="btn-banner" href="~/cv/cv_developer.pdf" download="cv_developer.pdf" style="text-decoration:none;">Curriculum</a>
                        <a class="btn-banner" href="/Portafolio/Portafolio" style="text-decoration:none;">Portafolio</a>
                    </span>
                    <p class="text">Soy José Luis un entusiasta del desarrollo web. Echa un vistazo a mi portafolio para ver proyectos emocionantes y soluciones innovadoras en diseño web y desarrollo de aplicaciones.</p>
                </div>
            </div>
        </section>
        <section class="section-logos">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carrusel-custom">
                            <div class=" col-md-4 col-lg-4 inner_div">
                                <img src="/logos/VSLogo.png" class="img-fluid logo-carousel carrusel-img-custom" alt="Visual Studio Logo">
                            </div>
                            <div class=" col-md-4 col-lg-4 inner_div">
                                <img src="/logos/Blazorlogo.png" class="img-fluid logo-carousel" alt="Blazor Logo">
                            </div>
                            <div class="col-md-4 col-lg-4 inner_div">
                                <img src="/logos/CssLogo.png" class="img-fluid logo-carousel" alt="CSS Logo">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carrusel-custom">
                            <div class="col-md-4 col-lg-4 inner_div">
                                <img src="/Logos/Unity-logo.png" class="img-fluid logo-carousel" alt="Unity logo">
                            </div>
                            <div class="col-md-4 col-lg-4 inner_div">
                                <img src="/logos/netCoreLogo.png" class="img-fluid logo-carousel" alt=".NET Core Logo">
                            </div>
                            <div class="col-md-4 col-lg-4 inner_div">
                                <img src="/logos/ReactLogo.png" class="img-fluid logo-carousel" alt="React Logo">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carrusel-custom">
                            <div class="col-md-4 col-lg-4 inner_div">
                                <img src="/logos/sqlLogo.png" class="img-fluid logo-carousel" alt="SQL Logo">
                            </div>
                            <div class="col-md-4 col-lg-4 inner_div">
                                <img src="/logos/csharpLogo.png" class="img-fluid logo-carousel" alt="C# Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>