<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Portafolio.css" rel="stylesheet" />
</head>
<body>
   
    <div class="container m-auto">
        <div class="row">
            <div class="col-12 justify-content-center text-center" style="height:auto; padding: 10px 5px">
                <div class="img-photo img-circle m-auto foto" title="photoMe"></div>
                <h2 class="name-portafolio h2-name-portafolio">Hola, soy José Luis</h2>
                <p class="col-md-10 m-auto p-personalizado">
                    "Bienvenido a mi galería. Explora una selección de proyectos en los que he trabajado, desde aplicaciones web interactivas hasta soluciones más robustas. Cada proyecto refleja mi experiencia en tecnologías de desarrollo web tanto del lado del cliente como del servidor.  ¡Sumérgete en mi trabajo y descubre cómo combino diseño y tecnología para desarrollar soluciones geniales!"
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div id="project1" class="card_custom h-100">
                        <div class="card-body">
                            <h5 class="card-title display-4">Weather API</h5>
                            <p class="desc_custom_proj">Aplicación web que utiliza  HTML, CSS y JavaScript. Consume  Weather API y brindar información meteorológica actualizada de tu ciudad</p>
                            <div class="d-flex justify-content-between btns_custom">
                                <a href="https://github.com/JosResy16/Weather--App" class="btn_custom">
                                    <i class="bi bi-github"></i> Repositorio
                                </a>
                                <a href="https://josresy16.github.io/Weather--App/" class="btn_custom">
                                    <i class="bi bi-eye"></i> Ver
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div id="project2" class="card_custom h-100">
                        <div class="card-body">
                            <h5 class="card-title display-4">Typing Speed</h5>
                            <p class="desc_custom_proj">¡Pon a prueba tus habilidades, mide tu velocidad de escritura mientras te inspiras con citas famosas!"</p>
                            <div class="d-flex justify-content-between btns_custom">
                                <a href="https://github.com/JosResy16/TypingSpeedTest/tree/main" class="btn_custom">
                                    <i class="bi bi-github"></i> Repositorio
                                </a>
                                <a href="https://josresy16.github.io/TypingSpeedTest/" class="btn_custom">
                                    <i class="bi bi-eye"></i> Ver
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div id="project3" class="card_custom h-100">
                        <div class="card-body">
                            <h5 class="card-title display-4">Sensive website</h5>
                            <p class="desc_custom_proj">Sitio web estático ofrece un diseño limpio y profesional. Ideal para presentar servicios médicos</p>
                            <div class="d-flex justify-content-between btns_custom">
                                <a href="https://github.com/JosResy16/Page-2" class="btn_custom">
                                    <i class="bi bi-github"></i> Repositorio
                                </a>
                                <a href="https://josresy16.github.io/Page-2/" class="btn_custom">
                                    <i class="bi bi-eye"></i> Ver
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div id="project4" class="card_custom h-100">
                        <div class="card-body">
                            <h5 class="card-title display-4">Psicology website</h5>
                            <p class="desc_custom_proj">HTML, CSS y JavaScript. Este sitio ofrece una experiencia interactiva y adaptativa, diseñada para proporcionar información clara y accesible</p>
                            <div class="d-flex justify-content-between btns_custom">
                                <a href="https://github.com/JosResy16/Page-1" class="btn_custom">
                                    <i class="bi bi-github"></i> Repositorio
                                </a>
                                <a href="https://josresy16.github.io/Page-1/" class="btn_custom">
                                    <i class="bi bi-eye"></i> Ver
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div id="project5" class="card_custom h-100">
                        <div class="card-body">
                            <h5 class="card-title display-4">Care website</h5>
                            <p class="desc_custom_proj">Este sitio ofrece una experiencia adaptativa y dinámica con un diseño intuitivo al presentar servicios de salud</p>
                            <div class="d-flex justify-content-between btns_custom">
                                <a href="https://github.com/JosResy16/Page-3" class="btn_custom">
                                    <i class="bi bi-github"></i> Repositorio
                                </a>
                                <a href="https://josresy16.github.io/Page-3/" class="btn_custom">
                                    <i class="bi bi-eye"></i> Ver
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</body>
</html>


