<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Portafolio.css" rel="stylesheet" />
</head>
<body>
   
    <div class="container m-auto">
        <div class="row">
            <div class="col-12 justify-content-center text-center" style="height:500px; padding-top:5em; padding-bottom:10em">
                <div class="img-photo img-circle m-auto foto" title="photoMe"></div>
                <h2 class="name-portafolio h2-name-portafolio">Hola, soy José Luis</h2>
                <p class="col-md-10 m-auto p-personalizado">
                    Entiendo lo que estás buscando. Si deseas que un div dentro de una row ocupe una altura fija independientemente del contenido que tenga dentro, puedes lograrlo utilizando algunas técnicas adicionales. En Bootstrap, normalmente las filas (row) y columnas (col) se ajustan
                </p>
            </div>
        </div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card h-100">
                        <img src="#" class="card-img-top border-dark border-1" alt="...">
                        <div class="card-body">
                            <h5 class="card-title display-4">Weather App</h5>
                            <p class="card-text lead">Descripción de prueba para valorar el orden y la disposición de elementos en pantalla.</p>
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-outline-dark">
                                    <i class="bi bi-github"></i> Repositorio
                                </a>
                                <a href="#" class="btn btn-outline-dark">
                                    <i class="bi bi-eye"></i> Previsualizar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="#" class="card-img-top border-dark border-1" alt="...">
                        <div class="card-body">
                            <h5 class="card-title display-4">Login System</h5>
                            <p class="card-text lead">Descripción de prueba para valorar el orden y la disposición de elementos en pantalla.</p>
                            <div class="d-flex justify-content-between">
                                <a href="#" class="btn btn-outline-dark">
                                    <i class="bi bi-github"></i> Repositorio
                                </a>
                                <a href="#" class="btn btn-outline-dark">
                                    <i class="bi bi-eye"></i> Previsualizar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>


